<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Gestion_utilisateur</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SConnexion</display-name>
    <servlet-name>SConnexion</servlet-name>
    <servlet-class>servlet.SConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SConnexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SDeconnexion</display-name>
    <servlet-name>SDeconnexion</servlet-name>
    <servlet-class>servlet.SDeconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SDeconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SInscription</display-name>
    <servlet-name>SInscription</servlet-name>
    <servlet-class>servlet.SInscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SInscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SAccueil</display-name>
    <servlet-name>SAccueil</servlet-name>
    <servlet-class>servlet.SAccueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SAccueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ConnexionFilter</display-name>
    <filter-name>ConnexionFilter</filter-name>
    <filter-class>servlet.ConnexionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ConnexionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>